<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <title>Current Project: Budget API CRUD Service</title>


</head>
<body>
<hr>
        <!-- header -->
        <div th:replace="~{header :: header}">...</div>
        <!-- //header -->
<hr>
<hr>
<hr>

        <div class="container mt-4">
                <div class="row">
                        <div class="col-md-8 offset-md-3">
<!--                                <h1 class="text-center">About Project</h1>-->


                                <h1>Budget API CRUD Backend Service</h1>
                                <hr>
                                <p>
                                        This project is a Budget API CRUD service that provides essential functionality for managing budgets. This service is integrated with an Angular frontend and features dual authentication with Google OAuth and serves as a resource server for Okta.
                                </p>

                                <h2>Key Features:</h2>
                                <ul>
                                        <li class="list-item">CRUD Operations: Allows users to Create, Read, Update, and Delete budget entries.</li>
                                        <li class="list-item">Angular Frontend: Provides a user-friendly and responsive interface for managing budgets.</li>
                                        <li class="list-item">Dual Authentication: Offers dual authentication with Google OAuth for secure access.</li>
                                        <li class="list-item">Okta Integration: Serves as a resource server for Okta, enhancing security and access control.</li>
                                </ul>

                                <h2>Technologies Used:</h2>
                                <ul>
                                        <li class="list-item"><a target="_blank" href="https://github.com/The-Hustler-Hattab/budget-tracking">Frontend: Angular</a></li>
                                        <li class="list-item"><a target="_blank" href="https://github.com/The-Hustler-Hattab/BudgetSpringApi">Backend: Java Spring</a></li>
                                        <li class="list-item">Authentication: Google OAuth and Okta</li>
                                </ul>

                                <h2>Project Status:</h2>
                                <p>
                                        This project is currently in active development, with a focus on creating a robust budget management system that ensures data security, user-friendliness, and seamless integration with authentication providers.
                                </p>

                                <h2>Goals:</h2>
                                <p>
                                        My goals for this project include delivering a fully functional and secure budget management system that simplifies budget tracking and enhances user experience.
                                </p>
                                <hr>
                                <div class="text-center">
                                        <a  target="_blank" href="http://budget-app.mtattab.com/" class="btn btn-dark btn-lg mr-3">
                                                Budget Tracking App
                                        </a>
                                        <a  target="_blank" href="https://www.linkedin.com/in/mohammed-hattab-295076216/"  class="btn btn-primary btn-lg mr-3">
                                                My LinkedIn
                                        </a>
                                        <a  target="_blank" href="http://mtattab.com/"  class="btn btn-success btn-lg">
                                               My Personal Website
                                        </a>
                                </div>
                        </div>
                </div>
        </div>

<hr>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>